
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact section -->
<section class="contact-section mt-3 mb-3 mr-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact-info">
                <p>Bakırköy, İstanbul</p>
                <p>0212 111 11 11</p>
                <p>qwerty@modkitap.com</p>
                <div class="contact-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <h3>İletişim Formu</h3>
                <div class="mb-5">
                    <form class="contact-form">
                        <input type="text" placeholder="Adınız">
                        <input type="text" placeholder="Mail Adresiniz">
                        <input type="text" placeholder="Konu">
                        <textarea placeholder="Mesajınız"></textarea>
                        <button class="site-btn">GÖNDER</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="map"><iframe src="https://maps.google.com/maps?q=bak%C4%B1rk%C3%B6y&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0"></iframe></div>
</section>
<!-- Contact section end -->




