
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-link {
        background-color: #282828;
        color: white;
        margin-top: 5px;
    }

        .nav-link:hover {
            color: #f51167;
        }

    .footer-section {
        padding-top: 0px;
        margin-top: 15.5%;
    }
</style>

<div class="mt-3 mb-3 ml-1">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" data-toggle="pill" href="#soru-1" role="tab">Üyelik şifremi unuttum, ne yapabilirim?</a>
                <a class="nav-link" data-toggle="pill" href="#soru-2" role="tab">Kargoya verildikten sonra teslimat süreci nasıl oluyor?</a>
                <a class="nav-link" data-toggle="pill" href="#soru-3" role="tab">Mod Kitap Mağazalarına nasıl ulaşabilirim?</a>
                <a class="nav-link" data-toggle="pill" href="#soru-4" role="tab">Banka, havale, iade ödeme, dekont, İban, finans gibi konularla ilgili nasıl iletişim kurabilirim?</a>
                <a class="nav-link" data-toggle="pill" href="#soru-5" role="tab">Kargo ile ilgili şikayetimi nasıl iletebilirim?</a>

            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="soru-1" role="tabpanel">
                    - Durumu müşteri temsilcilerimize yazılı ya da sesli iletişim kanallarından, ‘mail adresiniz ile birlikte’ ileterek şifrenizin düzenlenmesini talep edebilirsiniz.

                </div>
                <div class="tab-pane fade" id="soru-2" role="tabpanel">
                    - Sipariş kargoya verildikten sonra bulunduğunuz şehre ve ilçeye göre 1-4 gün içerisinde dağıtım yapılmaktadır. Aksaklık yaşamanız durumunda kargo takip numaranız ile durumu mail olarak firmamıza iletebilirsiniz. Teslimat sürecini kargo takip kodunuz ile kontrol ederek adreste bulunmanız yeterli olacaktır. Köy dağıtım ya da mobil alanlar için süreç değişiklik gösterebilmektedir.

                </div>
                <div class="tab-pane fade" id="soru-3" role="tabpanel">
                    - Mağazalarımıza 123 4 567 numaralı hattı arayarak ulaşabilir, gerekli tuşlamayı tamamlayarak ilgili şubeye bağlanabilirsiniz.

                </div>
                <div class="tab-pane fade" id="soru-4" role="tabpanel">
                    - İlgili konularda iade@modkitap.com adresimize detaylı olarak durumu açıklayan bir mail ileterek destek alabilirsiniz.

                </div>
                <div class="tab-pane fade" id="soru-5" role="tabpanel">
                    - Kargo takip numaranızı ve durumu açık olarak firmamıza mail yolu ile iletebilirsiniz. Konuya istinaden tarafınıza gerekli açıklama yapılarak uygun çözüm sağlanacaktır.



                </div>
            </div>
        </div>
    </div>

</div>






