@model List<ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/Assets/img/banner.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="/Assets/img/fırsat2.jfif">
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->
<!-- Features section -->
<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/Assets/img/icons/1.png" alt="#">
                    </div>
                    <h2>Güvenli Ödeme Seçenekleri</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/Assets/img/icons/2.png" alt="#">
                    </div>
                    <h2>Kampanyalı Ürünler</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="/Assets/img/icons/3.png" alt="#">
                    </div>
                    <h2>Ücretsiz & Hızlı Teslimat</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->
<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Benimkiler</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var item in Model)
            {                   
            <div class="product-item">
                @*<a href="">*@
                @*@Html.ActionLink(@item.Name, "Index", "Product", item.ProductId, new { @class = "" })*@
                @Html.ActionLink(item.Name, "Index", "Product", new {id = item.ProductId}, null)
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/product/@item.ImageUrl" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>@item.UnitPrice TL</h6>
                    <p></p>
                </div>
                @*</a>*@
            </div>
                
            }


        </div>
    </div>
</section>
<!-- letest product section end -->
<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Son Eklenenler</h2>
        </div>
        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/yeniCikanlar/1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>7,90 TL</h6>
                    <p>Hep Beraber</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/yeniCikanlar/2.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>24,90 TL</h6>
                    <p>Gör Beni</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/yeniCikanlar/3.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>6,50 TL</h6>
                    <p>İnsan Neyle Yaşar?</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/yeniCikanlar/4.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>10,40 TL</h6>
                    <p>Sineklerin Tanrısı</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">Yeni</div>
                    <img src="/Assets/img/yeniCikanlar/5.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>25,90TL</h6>
                    <p>Hayaletin Garip Huyları</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- letest product section end -->
<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>Çok Satılanlar</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-sale">ÇOK SATAN</div>
                            <img src="/Assets/img/cokSatanlar/1.jpg" alt="">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                                <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>5,20 TL</h6>
                            <p>Olağanüstü Bir Gece</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/2.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>17,38 TL</h6>
                        <p>Momo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/3.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>14,40 TL</h6>
                        <p>Beren ile Luthien</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="~/Product/KucukPrens">
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-sale">ÇOK SATAN</div>
                            <img src="/Assets/img/cokSatanlar/4.jpg" alt="">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                                <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>5,89 TL</h6>
                            <p>Küçük Prens</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/5.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>19,24 TL</h6>
                        <p>Körlük</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/6.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>21,69 TL</h6>
                        <p>1984</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/7.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>12,00 TL</h6>
                        <p>Fareler ve İnsanlar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ÇOK SATAN</div>
                        <img src="/Assets/img/cokSatanlar/8.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>12,39 TL</h6>
                        <p>Hayvan Çiftliği</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        </div>
    </div>
</section>



