
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .footer-section {
        padding-top: 0px;
        margin-top: 18.8%;
    }
</style>

<div class="container mb-3 mt-3">

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="txtEmail">E-Posta</label>
            <input id="txtEmail" type="text" placeholder="E-posta" class="form-control" name="Email"/>
        </div>
        <div class="form-group">
            <label for="txtPassword">Şifre</label>
            <input id="txtPassword" type="password" placeholder="Şifre" class="form-control" name="Password"/>
        </div>

        <input id="signIn" type="submit" value="Giriş Yap" class="btn btn-primary"/>
    }


</div>

